<div class="jumbotron">
  <h1 class="display-6"><%= @friend.last_name %> <%= @friend.first_name %> </h1>
  <%= link_to 'Chat with friend', instantiate_chat_friend_path(@friend), class:"btn btn-secondary", method: :post %>
  <%= link_to 'Back', friends_path, class:"btn btn-secondary" %>
</div>

<div id="room-id" data-room-id='1'>

</div>